* {
  box-sizing: border-box;
}
body {
  min-height: 5000px;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.scroller {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 5px;
  background-color: #0684c2;
  z-index: 9999;
  transition: 0.5s;
}
