* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.images-container {
  background: #eee;
  width: 500px;
  height: 330px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}

.images-container .slide-number {
  position: absolute;
  z-index: 2;
  left: 5px;
  top: 5px;
  background: #777;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  user-select: none;
}

.images-container img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}
.images-container img.active {
  opacity: 1;
}

.slider-control {
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.slider-control .previous,
.slider-control .next {
  background: #2196f3;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.slider-control .previous.disable,
.slider-control .next.disable {
  background-color: #2196f369;
  cursor: no-drop;
}

.indicators {
  width: 50%;
  line-height: 30px;
}
.indicators ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.indicators ul li {
  background: #777;
  padding: 0 8px;
  border-radius: 5px;
  color: white;
  user-select: none;
  cursor: pointer;
  transition: 0.5s;
}
.indicators ul li.active {
  background-color: #2196f3;
}
.indicators ul li:hover:not(.indicators ul li.active) {
  background-color: #2196f369;
}
