body {
  background-color: #1e1e1e;
}

.price {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5;
  border: solid red 1px;
  border-radius: 5px;
}

#target {
  color: red;
}
#target span {
  color: bisque;
}

.egy,
.qar {
  color: whitesmoke;
}
.egy span,
.qar span {
  font-size: 25px;
  color: #0d8ac8;
}
