:root {
  --main-color: #2196f3;
  --border-radius: 5px;
  --main-padding: 15px;
  --second-color: #009688;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}

.game {
  background-color: #eee;
  min-height: 100vh;
}
.name {
  background: var(--main-color);
  color: white;
  text-align: center;
  padding: var(--main-padding);
  font-size: 25px;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: auto;
}
select {
  text-align: center;
  display: block;
  margin: 10px auto 0;
  width: 200px;
  height: 50px;
  border: 1px solid var(--main-color);
  border-radius: var(--border-radius);
}
select:focus {
  outline: none;
}

.message {
  background: white;
  padding: var(--main-padding);
  margin: 15px 0;
  text-align: center;
  border-radius: var(--border-radius);
}
.message span {
  font-weight: bold;
  color: var(--second-color);
}

.message span::before {
  content: " [ ";
}
.message span::after {
  content: " ] ";
}
.start {
  background-color: var(--second-color);
  color: white;
  text-align: center;
  padding: var(--main-padding);
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
}
.start:hover {
  background: #1ad6c3;
}
.the-word {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  padding: var(--main-padding);
  user-select: none;
}
.input {
  display: block;
  margin: 15px 0;
  width: 100%;
  padding: var(--main-padding);
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
  text-align: center;
  caret-color: var(--main-color);
}
.input:focus {
  outline: none;
}
.upcoming-words {
  background: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0;
  padding: var(--main-padding);
}
.upcoming-words div {
  background: var(--main-color);
  margin: 5px;
  padding: 5px;
  border-radius: var(--border-radius);
  color: white;
  font-size: 18px;
  user-select: none;
}

.control {
  background: white;
  display: flex;
  justify-content: space-between;

  padding: var(--main-padding);
}

.control span {
  font-weight: bold;
  color: var(--second-color);
}

.finish {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  padding: var(--main-padding);
  /* background: white; */
}
.finish .good {
  color: var(--main-color);
}
.finish .bad {
  color: red;
}
