body {
  padding: 0;
  margin: 0;
}
.switcher {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  width: 400px;
  padding: 0;
  border-radius: 4px;
}
.switcher > li {
  list-style: none;
  padding:  10px 23px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.switcher > li.active,
.switcher > li:hover {
  background-color: rgba(255, 0, 0, 0.747);
  color: white;
}
.gallery {
  margin: 10px auto;
  width: 612px;
  padding: 0;
  height: 400px;
}
