* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

form {
  margin: 50px auto;
  width: 400px;
  background-color: #eee;
  padding: 20px;
}
form > div {
  padding-bottom: 5px;
  position: relative;
}
input[type="Radio"] {
  appearance: none;
}
input[type="Radio"]::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #0075ff;
  position: absolute;
  background: white;
  left: 0;
  top: 0;
}

input[type="Radio"]:checked + label:after,
input[type="Radio"]:not(:checked):hover + label::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #0075ff;
  position: absolute;
  left: 4px;
  top: 4px;
}
input[type="Radio"]:not(:checked):hover + label::after {
  opacity: 0.2;
}
input[type="Radio"]:not(:checked):hover + label {
  color: #0075ff;
  opacity: 0.5;
}
input[type="Radio"]:checked + label {
  color: #0075ff;
}
form label {
  padding-left: 15px;
}
