* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
div {
  font-size: 25px;
  padding: 120px;
  margin: 10px auto;
  background-color: #eee;
  width: 200px;
  height: 200px;
  overflow: auto;
}
div::-webkit-scrollbar{
  width: 15px;
}
div::-webkit-scrollbar-track {
  background-color: orangered;
}
div::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 0);
  border-radius: 10px;
}
div::-webkit-scrollbar-corner {
  background-color: brown;
}
p {
  font-size: 25px;
  line-height: 2;
  margin: 10px;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: rgb(49, 158, 201);
  border: 3px solid orange;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(209, 59, 22);
  border-radius: 10px;
}
