@charset "UTF-8";
/*SASS => Syntactically Awesome Style Sheet */
/*
  What is the differances between @use and @import?
  => @import 
  * @import is also a CSS feature, and the differences can be confusing
  * If you @import the same file multiple times, it can slow down compilation,
  cause override conflicts, and generate duplicate output.
  * Everything is in the global namespace, including third-party packages – so
  my color() function might override your existing color() function, or vice versa.
  * When you use a function like color(). it’s impossible to know exactly
  where it was defined. Which @import does it come from?

  => @use 
  * The file is only imported once, no matter how many times you @use it in a project.
  * Variables, mixins, and functions (what Sass calls “members”) that start
  with an underscore (_) or hyphen (-) are considered private, and not imported.
  * Members from the used file (buttons.scss in this case) are only made
  available locally, but not passed along to future imports.
  * Similarly, @extends will only apply up the chain; extending selectors
  in imported files, but not extending files that import this one.
  * All imported members are namespaced by default.

  Note: When you
    @use a file, Sass automatically generates a namespace based on the file name:
    @use 'buttons'; // Creates a 'buttons' namespace.

    You can't access to the variables defined in buttons, Because the imported 
    features are namespaced.

    the solution =>
    1- use a new period-divided syntax to access them:
    2- Using as * adds a module to the root namespace, so no prefix is required.

*/
:root {
  --main-color: red;
}

/*
The _ (underscore) is a partial for scss. That means the stylesheet its going to be imported (@import)
to a main stylesheet. The advantage on using partials is that you can use many files 
to organize your code and everything will be compiled on a single file.
*/
.contact {
  padding: auto;
  background-color: var(--main-color);
}

/*
Variables are a way to store information that you can re-use later.

With Sass, you can store information in variables, like:
[strings | numbers | colors | booleans | lists | nulls]
Sass uses the $ symbol, followed by a name, to declare variables:
  Fun Fact
    Sass variables, like all Sass identifiers, treat hyphens and underscores
    as identical. This means that $font-size and $font_size both refer to 
    the same variable.
*/
/*
  Heads up
    CSS has variables of its own, which are totally different than Sass variables.

  Know the differences!
  * Sass variables are all compiled away by Sass. CSS variables are included
    in the CSS output.
  * CSS variables can have different values for different elements,
    but Sass variables only have one value at a time.
  * Sass variables are imperative, which means if you use a variable and then change
    its value, the earlier use will stay the same. CSS variables are declarative,
    which means if you change the value, it’ll affect both earlier uses and later uses.
*/
.test {
  color: black;
}

.test-2 {
  color: black;
}

/*
  What is the differance between Scss and Sass
  Sass has two syntaxes! The SCSS syntax (.scss) is used most commonly.
    It's a superset of CSS, which means all valid CSS is also valid SCSS.
    The indented syntax (.sass) is more unusual: it uses indentation rather
    than curly braces to nest statements, and newlines instead of semicolons
    to separate them. All our examples are available in both syntaxes.
*/
/*
Tip: Global variables should be defined outside any rules.
It could be wise to define all global variables in its own file,
named "_globals.scss", and include the file with the @include keyword.
*/
.header {
  color: green;
}

.footer {
  color: black;
}

/*
  Heads Up 
    The !global flag may only be used to set a variable that has already
    been declared at the top level of a file. It may not be used to
    declare a new variable.
*/
.copyright {
  background-color: black;
}

.sidebar {
  color: yellow;
}

.parent {
  font-weight: bold;
}
.parent .child {
  font-size: 25px;
}
.parent .child .grand-child {
  font-size: 15px;
}

.parent-one,
.parent-two {
  padding: 20px;
}
.parent-one .child,
.parent-two .child {
  padding: 10px;
}

.parent > .child {
  font-size: 20px;
}
.parent > .test {
  font-weight: bold;
}

.parent > .child {
  font-size: 20px;
}
.parent .test {
  font-weight: bold;
}
.parent + p {
  font-weight: bolder;
}

.parent + .child {
  font-size: 20px;
}
.parent + .test {
  font-weight: bold;
}
.parent + p {
  font-weight: bolder;
}

.parent > .one {
  font-size: 20px;
}
.parent > .two {
  font-size: 20px;
}
.parent .not-direct-child {
  font-weight: bold;
}

.box {
  display: none;
}
.box .title {
  font-size: 10px;
}
.box .description {
  font-weight: bold;
}
.box.red {
  color: red;
}
.box.green {
  color: green;
}
.box:hover {
  background-color: #fff;
}
.box:hover .title {
  background-color: #00f;
}
.box:hover + label {
  color: #fff;
}
.box:not(:first-child) {
  color: #0f0;
}
:not(.box) {
  font-weight: normal;
}
[dir=rtl] .box {
  direction: rtl;
}

.box {
  font-size: 20px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 1px solid red;
  border-right-color: green;
}

.main-box, .arrow-div, .box, .ads, .article {
  background-color: #505050;
  padding: 10px;
  border: 1px solid #ccc;
  color: #fff;
}

.article {
  font-size: 20px;
  color: green;
}

.ads {
  font-size: 25px;
  font-weight: normal;
}

.test {
  transform: translateX(10px);
  transition: 0.5s;
}

/*
* Placeholder help you to be more productive without rewriting properties all over
again that you need in your CSS library.
* You can customise your needs and made a small library out of it.
Include placeholders in your SCSS and use them every time you want it in your project
*/
.box_two, .box_one {
  background-color: #3ee;
  font-style: italic;
}

.box_one {
  font-family: "Courier New", Courier, monospace;
}

.box_two {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*
The @mixin directive lets you create CSS code that is to be reused throughout the website.
The @include directive is created to let you use (include) the mixin.
*/
.test {
  background-color: red;
  color: black;
  padding: 10px;
  border: none;
}

.page {
  background-color: #fff;
  color: #444;
}

.box {
  border-radius: 6px;
}

body {
  background-color: #444;
}

.arrow-div {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 50px auto;
}
.arrow-div::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: red;
}

/*Uses of Interpolation:
  * To use dynamically created names as a property name,
    a variable or for any other same purposes.
  * To create a very reusable code; where you can define a property name, strings,
    selector names etc, as a variable.
*/
/*
unique-id() => Returns a randomly-generated unquoted string that’s 
guaranteed to be a valid CSS identifier and to be unique within the current
Sass compilation.
*/
.ad-Mos3aB-uup1zvk {
  font-size: 20px;
  background-image: url("imgs/Mos3aB.png");
  top: 0;
}

.icon-mail {
  background-image: url("/icons/mail.svg");
  position: absolute;
  bottom: 0;
  right: 0;
}

/*
  Conclusion:
  We can use this technique to make our stylesheet more dynamic and use
  the power of SASS/SCSS to write less code which evaluates into more CSS code.
*/
/* This Comment Will Show In Css File But Not In Compressed Mode */
/*! This Comment Will Show In Css File And In Compressed Mode */
.box {
  font-size: 30px;
}

/* This Comment Contains Interpolation => Mos3aB */
/*When writing style libraries using Sass, you can use comments to document the mixins,
functions, variables, and placeholder selectors that your library provides,
as well as the library itself. These are comments are read by the SassDoc tool,
which uses them to generate beautiful documentation.
*//*# sourceMappingURL=index.css.map */