mixin skillList 
  ul    
    li Python 
    li JS
    li C
    li PHP

// All Pug files are Connected
mixin theme
  div This Is #{autherName} Theme

// Mixin With Argument
mixin feature(featName)
  div(class='feature', style={
    'color': 'red',
    'background-color': 'black',
    'padding':'10px'
  })= featName